<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allstar.spring.mapper.TAccountMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.allstar.spring.entity.TAccount">
		<id column="id" property="id" />
		<result column="employee_name" property="employeeName" />
		<result column="born_time" property="bornTime" />
		<result column="phone" property="phone" />
		<result column="mailbox" property="mailbox" />
		<result column="portrait" property="portrait" />
		<result column="region" property="region" />
		<result column="department" property="department" />
		<result column="role" property="role" />
		<result column="employee_num" property="employeeNum" />
		<result column="password" property="password" />
		<result column="salt" property="salt" />
		<result column="reg_time" property="regTime" />
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">

		id, employee_name,
		born_time,phone,
		mailbox,employee_num,
		portrait,region,
		department,role,
		password,salt,
		reg_time

	</sql>
</mapper>
